.main {
  margin: 20px;
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 20px;
  line-height: 1.15;
  font-size: 4rem;
}

.grid {
  display: grid;
  grid-template-areas: 
  "face lips nails"
  "brows lips eyes";
  grid-gap: 10px;
}

.face {
  grid-area: face;
}

.brows {
  grid-area: brows;
}

.lips {
  grid-area: lips;
}

.nails {
  grid-area: nails;
}

.eyes {
  grid-area: eyes;
}

.link {
  display: inline-block;
  line-height: 60px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  padding: 0 15px;

  &:hover {
    background-color: #f3dce1;
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-areas: 
      "face lips"
      "nails lips"
      "brows eyes";
  }
}
