.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  &_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
  }
}

.image {
  min-height: 220px;
  width: 220px;
  object-fit: contain;
}

.name {
  text-align: center;
  font-size: 30px;
}

.brand {
  text-transform: capitalize;
  font-size: 24px;
}

.text {
  font-size: 20px;
  padding-left: 20px;
}

.colors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: center;
  margin: 40px;
  &_box {
    display: flex;
    flex-direction: row;
  }
}

.color {
  width: 40px;
  height: 20px;
  margin: 5px;
}

.button {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px 0;

  &_buy {
    height: 40px;
    width: 176px;
    background: #d45ba8;
    color: #fff;
    border: 1px solid #d45ba8;
    transition: all 1s;
    font-size: 18px;
    &:hover {
      box-shadow: 0 3px 13px rgba(23, 32, 49, 0.26);
    }
    &__active {
      border: 1px solid #e2e6e9;
      color: gray;
      background-color: #fff;
      height: 40px;
      width: 176px;
      transition: all 1s;
    }
  }

  &_like {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid #b4bdc4;

    &:hover {
      border: 1px solid #313237;
    }
  }
}